.star {
    color: #ccc;
}
.star.filled {
    color: #FFD700;
}
.rating-stars {
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}
.rating-stars .star {
    margin-right: 5px;
}
.stars {
    display: inline-block;
    font-size: 1.2rem;
    margin-left: 6px;
}

.delete-button {
    margin-top: 5px;
    color: red;
    background: none;
    border: outset;
    cursor: pointer;
    padding: 4px 8px;
    font-size: 0.9rem;
}